<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="../public/stylesheets/CV.css">
    <script src="myFirstJavaScript.js"></script>
</head>
<body onload="changeTitle()">
<div class="grid_name">
    <div id="lihi123"  class="Lihiname">Lihi Lavan</div>
</div>
 <div class="grid_container"> 
    <div class="item1"> Personal information</div>
    <div class="item2"> Education</div>
    <div class="item3"> Work Expirence</div>
    <div class="item4"> Volunteering</div>
    <br>
    <br>
    <div class="ContactForm"><h2>Contact Page</h2></div>
    <div class="itmenGender"><p>Gender:  <input type="radio" /> Male  <input type="radio" /> Female </p></div>
    <div class="itemFirstName"><p>First Name: <input type="text" /></p></div>
    <div class="itemLastName"><p>Last Name: <input type="text" /></p></div>
    <div class="itemEmail"><p>E-Mail: <input type="text" /></p></div>   
    <div class="itemComment"><p>Enter comment: <input type="text" /></p></div>
    <div class="submit"><input type="submit" /></div>
</div>
 
 
</body>
</html>